*, *::before, *::after { box-sizing: border-box; }


html, body {
  scroll-behavior: smooth;
}

a {
  color: currentColor;
  text-decoration: none;
}

figure{
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}