//* fonts
// @import "../fonts/FontFamily/FontName.css";

@import "../fonts/ao/ao.css";

:root{
  // Antique
  --basesize: 1.05rem;
  --basefamily:  'ao', Georgia, serif;
  // Georgia
  --basesize: 1.15rem;
  --basefamily:  Georgia, serif;
  --line-height: 1.4;
  --text-color: rgba(0,0,0,.75);
}


body{
  font-family: var(--basefamily); 
  font-size: var(--basesize);
  color: var(--text-color);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: var(--line-height);  
}

h1, h2, h3 { font-weight: 400;}

p, ul, ol, blockquote {
  max-width: 75ch;
}