#home {
  --year-width: 4rem;
  --line-offset: 1rem;
  --event-padding: 1rem;
  --grid-gap: 2rem;
  margin: var(--padding);
  padding: var(--padding);
  padding-left: var(--year-width);
  @media(max-width:800px){
    margin: 0;
    padding-left: var(--padding);
  }
}


#annee-1960,
#annee-1970,
#annee-1980,
#annee-1990,
#annee-2000,
#annee-2010,
#annee-2020 {
  > h2{ font-weight: bold; font-size: 150%; position: relative; top: -.6em; }
}

// @for $i from 1 through 68 {
//   section:nth-of-type(#{$i}) {
//     img{
//       filter: grayscale(1 - $i / 68);
//     }
//     // background-color: lighten($base-color, $i * 5%);
//   }
// }


#home > header {
  grid-gap: 0 var(--grid-gap);
  display: grid;
  grid-template-columns: 2fr 3fr 2fr ;
  margin: 2em 0;
  @media (max-width:800px){
    grid-template-columns: 1fr;
  }
  h2 { 
    margin: 0; 
    color: var(--color); 
    line-height: 1.2; 
    font-weight: 400;
    font-size: clamp(1.5rem, 2.5vw, 2.5rem);
  }
  > div {
    padding-left: calc( var(--line-offset) + var(--event-padding));
    &.edition-et-culture-graphique {
      text-align: right;
      @media(max-width:800px){text-align: left;}
    }
    @media (max-width:800px){
      padding-left: 0;
    }
    p {margin-top: .25em; font-style: italic;}
  }
}

.year {
  border-top: 1px dotted #000;
  position: relative;
  min-height: 2em;
  display: grid;
  grid-template-columns: 2fr 3fr 2fr ;
  grid-auto-flow: dense;
  grid-gap: 0 var(--grid-gap);
  scroll-margin-top:7em;
  &:target {
    margin-top: 6em;
  }
  @media (max-width:800px){
    grid-template-columns: 1fr;
    margin-top: var(--margin);
  }
  
  span {
    border-right: 2px solid var(--color);
    width: var(--line-offset);
    display: block;
    position: absolute;
    height: 100%;
    &:nth-of-type(1) {grid-column: 1 / span 1 ;}
    &:nth-of-type(2) {grid-column: 2 / span 1 ;}
    &:nth-of-type(3) {grid-column: 3 / span 1 ;}
  }
  > h2 {
    margin: 0;
    position: absolute;
    top: -.65em;
    font-size: 1em;
    line-height: 1;
    background: var(--background-color);
    padding: 0 1em 0 0;
    width: var(--year-width);
    left: calc(-1 * var(--year-width));
    @media(max-width:800px){
      left: 0;
    }
  }
}

.year-content { scroll-margin-top:7em; }
.events {
  &.edition-et-culture-graphique {
    grid-column: 1;
  }
  &.les-rencontres-de-lure {
    grid-column: 2;
  }
  &.typographie-et-technique {
    grid-column: 3;
  }
  @media (max-width:800px){
    grid-column: 1 !important;
  }
}

.timeline-event {
  padding: var(--event-padding) 0 var(--event-padding) calc( var(--line-offset) + var(--event-padding));
  @media (max-width:800px){
    padding-left: 0;
  }
  position: relative;
  h3 {
    // font-weight: bold;
    color: var(--color, currentColor);
    margin-bottom: .25em;
  }
  &.edition-et-culture-graphique {
    grid-column: 1;
    text-align: right;
    @media(max-width:800px){text-align: left;}
  }
  &.les-rencontres-de-lure {
    grid-column: 2;
  }
  &.typographie-et-technique {
    grid-column: 3;
  }
  &::before {
    content: "";
    display: block;
    height: 1rem;
    width: 1rem;
    border-radius: .5rem;
    position: absolute;
    left: calc(var(--line-offset) - 1px);
    top: calc(.5rem + var(--event-padding));
    transform: translateX(-50%);
    background: var(--color, red);
    border: 3px solid var(--background-color);
    @media (max-width:800px){
      display: none;
    }
    // test
    display: none;
  }
  :first-child {margin-top: 0;}
  .introduction {
    font-size: .85em;
  }
  
}
.source {
  font-size: .85em;
  text-decoration: underline;
}

.event-cover {
  margin: 0;
  padding: 0;
  img {
    display: block;
    filter: grayscale(1);
    &:hover { filter: grayscale(0);}
    @media (max-width:800px){
      filter: none
    }
  }
}